# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore generated data
data/

# Jupyter
.ipynb_checkpoints/